---
services:
  homeassistant:
    # NOTE: We use this instead of the ghcr.io version since it runs unprivileged by default
    image: lscr.io/linuxserver/homeassistant:latest
    container_name: homeassistant
    network_mode: host
    environment:
      - PUID=8123
      - PGID=8123
      - TZ=America/Los_Angeles
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - /var/run/dbus:/var/run/dbus:ro
      - /var/local/homeassistant:/config
    # This is only needed without `host` networking mode
    # ports:
    #   - 8123:8123
    security_opt:
      - no-new-privileges
    restart: unless-stopped
  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    container_name: matter-server
    restart: unless-stopped
    # Required for mDNS to work correctly
    network_mode: host
    user: "8123:8123"
    # Needed for Bluetooth via dbus
    # security_opt:
      # - apparmor:unconfined
    volumes:
      # Create an .env file that sets the USERDIR environment variable.
      - /var/local/homeassistant/matter-server/data:/data/
      # Required for Bluetooth via D-Bus
      # - /run/dbus:/run/dbus:ro
    # If you adjust command line, make sure to pass the default CMD arguments too:
    #command: --storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 0
