---
- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/debian bookworm stable
    state: present
  register: dockerrepo

- name: Install docker-ce
  apt:
    name:
      - docker-ce
      - docker-compose-plugin
      - python3-docker
    state: latest
    update_cache: "{{ dockerrepo.changed }}"

- name: Create homeassistant group
  group:
    name: homeassistant
    state: present
    gid: 8123

- name: Create homeassistant user
  user:
    name: homeassistant
    comment: Home Assisstant
    uid: 8123
    group: homeassistant
    create_home: false

- name: Create homeassistant directory
  file:
    path: /var/local/homeassistant
    owner: homeassistant
    group: homeassistant
    mode: '0755'
    state: directory

- name: Create matter-server directory
  file:
    path: /var/local/homeassistant/matter-server/data
    owner: homeassistant
    group: homeassistant
    mode: '0755'
    state: directory

- name: Place compose file
  copy:
    src: files/homeassistant/compose.yml
    dest: /var/local/homeassistant/compose.yml
    mode: '0644'

- name: Place configurations
  copy:
    src: files/homeassistant/{{item}}
    dest: /var/local/homeassistant/{{item}}
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  with_list:
    - configuration.yaml
    - templates.yaml
    - packages/

- name: Place blueprints
  copy:
    src: files/homeassistant/blueprints/{{item}}/
    dest: /var/local/homeassistant/blueprints/{{item}}/sbc-server-conf/
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  with_list:
    - automation

- name: Place wunderground sensor config
  template:
    src: templates/homeassistant/wunderground.yaml.j2
    dest: /var/local/homeassistant/packages/wunderground.yaml
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  vars:
    stations:
      - KCASANFR1969
      - KCASANFR2157
      - KCASANFR2069

- name: Cron for hass backup script
  copy:
    src: files/homeassistant/backup
    dest: /etc/cron.daily/homeassistant_backup
    mode: "0755"
    owner: root

- name: Create backup heartbeat script
  template:
    src: templates/heartbeat.sh.j2
    dest: /var/local/homeassistant/backup_heartbeat
    mode: "0755"
  vars:
    heartbeat_url: https://hc-ping.com/4c37fdea-e447-4963-bd7c-28abb2269fcb
    heartbeat_status_arg: $1

- name: Allow Sonos push connections
  community.general.ufw:
    rule: allow
    port: 1400
    proto: tcp

- name: Start docker
  systemd_service:
    name: docker
    state: started

- name: Start homeassistant docker service
  community.docker.docker_compose_v2:
    project_src: /var/local/homeassistant/
