---
- name: Add Docker GPG apt Key
  apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present

- name: Add Docker Repository
  apt_repository:
    repo: deb https://download.docker.com/linux/debian bookworm stable
    state: present
  register: dockerrepo

- name: Install docker-ce
  apt:
    name:
      - docker-ce
      - docker-compose-plugin
      - python3-docker
    state: latest
    update_cache: "{{ dockerrepo.changed }}"

- name: Create homeassistant group
  group:
    name: homeassistant
    state: present
    gid: 8123

- name: Create homeassistant user
  user:
    name: homeassistant
    comment: Home Assisstant
    uid: 8123
    group: homeassistant
    create_home: false

- name: Create homeassistant directory
  file:
    path: /var/local/homeassistant
    owner: homeassistant
    group: homeassistant
    mode: '0755'
    state: directory

- name: Create matter-server directory
  file:
    path: /var/local/homeassistant/matter-server/data
    owner: homeassistant
    group: homeassistant
    mode: '0755'
    state: directory

- name: Place compose file
  copy:
    src: files/homeassistant/compose.yml
    dest: /var/local/homeassistant/compose.yml
    mode: '0644'

- name: Place configurations
  copy:
    src: files/homeassistant/{{item}}
    dest: /var/local/homeassistant/{{item}}
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  with_list:
    - configuration.yaml
    - templates.yaml
    - packages/

- name: Place blueprints
  copy:
    src: files/homeassistant/blueprints/{{item}}/
    dest: /var/local/homeassistant/blueprints/{{item}}/sbc-server-conf/
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  with_list:
    - automation

- name: Place wunderground sensor config
  template:
    src: templates/homeassistant/wunderground.yaml.j2
    dest: /var/local/homeassistant/packages/wunderground.yaml
    mode: '0644'
    owner: homeassistant
    group: homeassistant
  vars:
    stations:
      - KCASANFR1969
      - KCASANFR2157
      - KCASANFR2069

- name: Ensure custom_components directory exists
  ansible.builtin.file:
    path: /var/local/homeassistant/custom_components
    state: directory
    mode: '0755'
    owner: homeassistant
    group: homeassistant

- name: Cron for hass backup script
  copy:
    src: files/homeassistant/backup
    dest: /etc/cron.daily/homeassistant_backup
    mode: "0755"
    owner: root

- name: Create backup heartbeat script
  template:
    src: templates/heartbeat.sh.j2
    dest: /var/local/homeassistant/backup_heartbeat
    mode: "0755"
  vars:
    heartbeat_url: https://hc-ping.com/4c37fdea-e447-4963-bd7c-28abb2269fcb
    heartbeat_status_arg: $1

- name: Allow Sonos push connections
  community.general.ufw:
    rule: allow
    port: 1400
    proto: tcp

- name: Download and install midea_ac_lan custom component
  vars:
    midea_version: "v0.6.10"
    dest_dir: /var/local/homeassistant/custom_components/midea_ac_lan
  block:
    - name: Check if correct version is already installed
      ansible.builtin.shell: |
        if [ -f {{ dest_dir }}/manifest.json ]; then
          grep -q '"version": "{{ midea_version }}"' {{ dest_dir }}/manifest.json
        else
          exit 1
        fi
      register: version_check
      failed_when: false
      changed_when: false

    - name: Download midea_ac_lan zip file
      ansible.builtin.get_url:
        url: https://github.com/wuwentao/midea_ac_lan/releases/download/{{ midea_version }}/midea_ac_lan.zip
        dest: /tmp/midea_ac_lan.zip
        mode: '0644'
      when: version_check.rc != 0

    - name: Ensure midea_ac_lan directory exists
      ansible.builtin.file:
        path: "{{ dest_dir }}"
        state: directory
        mode: '0755'
        owner: homeassistant
        group: homeassistant
      when: version_check.rc != 0

    - name: Unzip midea_ac_lan to custom_components
      ansible.builtin.unarchive:
        src: /tmp/midea_ac_lan.zip
        dest: "{{ dest_dir }}"
        remote_src: yes
        owner: homeassistant
        group: homeassistant
      when: version_check.rc != 0

    - name: Clean up zip file
      ansible.builtin.file:
        path: /tmp/midea_ac_lan.zip
        state: absent
      when: version_check.rc != 0

- name: Install mosquitto MQTT broker
  apt:
    name:
      - mosquitto
      - mosquitto-clients
    state: latest
    update_cache: yes

- name: Create mosquitto configuration directory
  file:
    path: /etc/mosquitto/conf.d
    state: directory
    mode: '0755'

- name: Place mosquitto configuration
  copy:
    src: files/mosquitto.conf
    dest: /etc/mosquitto/conf.d/local.conf
    mode: '0644'
  notify: restart mosquitto

- name: Place mosquitto logrotate configuration
  copy:
    src: files/mosquitto.logrotate.conf
    dest: /etc/logrotate.d/mosquitto
    mode: '0644'

- name: Enable and start mosquitto service
  systemd_service:
    name: mosquitto
    enabled: yes
    state: started

- name: Allow MQTT connections
  community.general.ufw:
    rule: allow
    port: 1883
    proto: tcp
    comment: MQTT broker

- name: Start docker
  systemd_service:
    name: docker
    state: started

- name: Start homeassistant docker service
  community.docker.docker_compose_v2:
    project_src: /var/local/homeassistant/
