---
- name: set UTC timezone
  community.general.timezone:
    name: UTC
  notify:
    - restart cron

- name: Generate locale
  locale_gen:
    name: en_US.UTF-8
    state: present

- name: Set system locale file
  copy:
    content: "LANG=en_US.UTF-8\n"
    dest: /etc/default/locale
    owner: root
    group: root
    mode: '0644'

- name: sshd config
  copy:
    src: files/sshd_config
    dest: /etc/ssh/sshd_config
    validate: sudo sshd -t -f %s
    mode: "0644"
  notify:
    - reload sshd

- name: Generate non-root SSH host key
  become: true
  become_user: "{{ nonroot_login_user }}"
  command : ssh-keygen -q -t ed25519 -f /home/{{ nonroot_login_user }}/.ssh/id_ed25519 -C "" -N ""
  args:
    creates: /home/{{ nonroot_login_user }}/.ssh/id_ed25519

- name: install dependencies
  apt:
    name:
      - ufw # For firewall
      - acl # Ansible needs this for some `become` stuff
    state: present

# ufw supports connection rate limiting, which is useful for protecting
# against brute-force login attacks. ufw will deny connections if an IP
# address has attempted to initiate 6 or more connections in the last
# 30 seconds. See  http://www.debian-administration.org/articles/187
# for details. Typical usage is:
- name: rate limit SSH connections
  community.general.ufw:
    rule: limit
    port: ssh
    proto: tcp

- name: Allow OpenSSH
  community.general.ufw:
    rule: allow
    name: OpenSSH

- name: Allow rsyslogd connections
  community.general.ufw:
    rule: allow
    port: 514

- name: Enable UFW
  community.general.ufw:
    state: enabled
