---
- name: reload sshd
  service:
    name: sshd
    state: reloaded

- name: force update ddns
  command:
    cmd: /usr/bin/ddclient --force
  become: true
  become_user: ddclient

- name: restart rsyslogd
  service:
    name: rsyslog
    state: restarted

- name: restart cron
  service:
    name: cron
    state: restarted

- name: reboot
  reboot:

- name: reload nginx
  service:
    name: nginx
    state: reloaded

- name: restart smbd
  service:
    name: smbd
    state: restarted

- name: reload systemd
  systemd:
    daemon_reload: true

- name: restart ical-filter-proxy
  service:
    name: ical-filter-proxy
    state: restarted
