---
envisalink:
  host: 192.168.0.8
  panel_type: HONEYWELL
  user_name: user
  password: "{{ envisalink_password }}"
  code: "{{ alarm_code }}"
  evl_version: 4
  zonedump_interval: 5
  zones:
    1:
      name: Smoke and heat detectors
      type: smoke
    2:
      name: Front door
      type: door
    3:
      name: Door to garage
      type: door
    4:
      name: 1st floor hall motion
      type: motion
    5:
      name: Shop motion
      type: motion
    6:
      name: 2nd floor hall motion
      type: motion
    7:
      name: 3rd floor hall motion
      type: motion
    8:
      name: PBR door
      type: door
    10:
      name: Family room door
      type: door
    11:
      name: Kitchen door
      type: door
    12:
      name: Shop front door
      type: door
    13:
      name: Shop rear door
      type: door
    14:
      name: Guest bedroom window
      type: window
    15:
      name: Shop window
      type: window
    16:
      name: Den door
      type: door
  partitions:
    1:
      name: 'Home Alarm'
