VIN_LIST={{ tesla_vin }}
MQTT_SERVER=127.0.0.1
MQTT_PORT=1883
MQTT_USERNAME=tesla_ble
MQTT_PASSWORD={{ mqtt_tesla_ble_password }}
PRESENCE_DETECTION_LOOP_DELAY=120
PRESENCE_DETECTION_TTL=240
DEBUG=false
MAX_CURRENT=32
TZ=America/Los_Angeles
ENABLE_HA_FEATURES=true
